/* Making the background a color close to the back of a magic card while still not looking too dark */
body {
    background-color: BD400F;
    color: white;
    font-family: georgia;
}

/* When hovering over any cards, I want the user to know which is being selected */
.card:hover {
    height: 275px;
    margin: 0em -1em 0em -1em;
}
.card {
    height: 125px;
    margin: 0em 0.5em 0em 0.5em
}

/* need a clear indicater of my divs while I mess with it */
.box {
    border-style: double;
}

#setup {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
}

/* This column will show the user what action they just took */
#aid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-even;
    background-color: 3A231A;
    width: 200px;
}
#me {
    width: 190px;
}
.mana {
    width: 50px;
}

/* battlefield and hand will somehow fit here */
#mid {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-even;
        width: 800px;
        height: 675px;
}
#life {
    cursor: pointer;
    font-family: fantasy;
    font-size: 2em;
}
#hand, #permanents, #lands {
    display: flex;
    align-items: center;
    width: 780px;
    height: 250px;
}
/* the hand can be just a tad over the lands, just to save room without ruining the experience */
#hand {
    display: flex;
    margin: -3em;
}
#phases {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 790px;
}

/* my deck will go here */
#library {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-even;
        width: 200px;
}
#deck {
    width: 190px;
}

p {
    padding: 1em;
}
h3 {
    font-size: 10px;
}
